body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(110deg, #00ffff 30%, #ffee00 80%);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffffbc;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.876);
}

footer {
    background-color: #ffffffbc;
    color: #242424;
    text-align: center;
    padding: 1em 0;
    margin-top: 22%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.876);
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.product-form, .product-list {
    background-color: #ffffffbc;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.376);
}

.product-list #products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.product-card {
    color: #2f2f2f;
    background-color: #91ff00;
    border: 1px solid #4646461e;
    border-radius: 8px;
    padding: 1em;
    width: 150px;
    text-align: center;
    position: relative;
}

.product-card img {
    max-width: 100%;
    border-radius: 4px;
}

.product-card button {
    background-color: #d32f2f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #c62828;
}

.button-group {
    display: flex;
    gap: 10px;
}

input[type="text"], input[type="number"], input[type="url"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

input[type="text"]:focus, input[type="number"]:focus, input[type="url"]:focus {
    border-color: #6200ea; 
    box-shadow: 0 0 8px rgba(98, 0, 234, 0.5); 
    outline: none; 
}

.buttonE {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(160, 255, 182, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.buttonE:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(13, 198, 44);
    align-items: center;
}

.buttonE:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.buttonE::before {
    position: absolute;
    bottom: -20px;
    content: "Enviar";
    color: white;
    font-size: 0px;
}

.buttonE:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}

.buttonR {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(255, 160, 160, 0.253);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.buttonR:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.buttonR:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.buttonR::before {
    position: absolute;
    top: -20px;
    content: "Limpiar";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}

.buttonR:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}

